{% load i18n %}
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" id="filter-list-{{ title|slugify }}" href="#filter-{{ title|slugify }}"
                data-toggle="collapse">
            {% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}
        </a>
    </div>

    <div class="accordion-body collapse" id="filter-{{ title|slugify }}">
        <ul class="nav nav-list">
          {% for choice in choices %}
            <li class="{% if choice.selected %}active{% endif %}">
              <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a>
            </li>
         {% endfor %}
        </ul>
    </div>
</div>

