{% load i18n %}

{% if cl.search_fields %}
  <form id="changelist-search" action="" method="get">
    <input type="search" size="40" class="pull-left search-query"
        name="{{ search_var }}" id="searchbar"
        value="{{ cl.query }}" placeholder="{% trans "Search" %} {{ cl.opts.verbose_name_plural|capfirst }}...">

    {% if show_result_count %}
      <div class="pull-left small quiet search-results">
        {% blocktrans count cl.result_count as counter %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %}
        (<a href="?{% if cl.is_popup %}pop=1{% endif %}">
          {% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}
        </a>)
      </div>
    {% endif %}

    {% for pair in cl.params.items %}
      {% if pair.0 != search_var %}
        <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">
      {% endif %}
    {% endfor %}

  </form>
{% endif %}
