{% load i18n %}

<div class="subnav">
  {% if show_delete_link %}
    <a href="delete/" class="deletelink btn btn-danger">
      <i class="icon-trash icon-white"></i>
      {% trans "Delete" %}
    </a>
  {% endif %}

  <div class="actions pull-right">
    <ul>
      <li class="action-item">
        <div id="actions-right-alt" class="btn-group pull-left">
          <a href="history/" class="btn">
            <i class="icon-time"></i>
            {% trans "History" %}
          </a>

          {% if has_absolute_url %}
            <a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="btn">
              <i class="icon-share-alt"></i>
              {% trans "View on site" %}
            </a>
          {% endif %}
        </div>
      </li>

      <li class="action-item">
        <div id="submitChangeFormSaves" class="btn-group">
          <input type="submit" value="✓ {% trans buttons.primary_button.text %}"
              class="default btn btn-success" name="{{ buttons.primary_button.key }}"
              {{ onclick_attrib }}>

          {% if buttons.secondary_buttons %}
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
          {% endif %}

          <ul class="dropdown-menu">
            {% for button in buttons.secondary_buttons %}
              <li>
                <a href="javascript:void(0);" data-name="{{ button.key }}">
                  {% trans button.text %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div style="clear:both;"></div>
</div>
