<link rel="stylesheet" href="{{ media_url }}/jquery-ui-bootstrap/css/jquery-ui-1.8.16.custom.css" type="text/css" media="screen, projection" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ media_url }}jquery-ui-bootstrap/css/jquery.ui.1.8.16.ie.css" /><![endif]-->

<link rel="stylesheet" href="{{ media_url }}/admin_tools/css/dashboard.css" type="text/css" media="screen, projection"/>
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ media_url }}/admin_tools/css/dashboard-ie.css" type="text/css" media="screen, projection"/>
<![endif]-->
{% for css in css_files %}
<link rel="stylesheet" href="{{ media_url }}/{{ css }}" type="text/css" media="screen, projection"/>{% endfor %}
