[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "vendor/jquery-ui-bootstrap"]
	path = vendor/jquery-ui-bootstrap
	url = git://github.com/addyosmani/jquery-ui-bootstrap.git
[submodule "vendor/chosen"]
	path = vendor/chosen
	url = git://github.com/harvesthq/chosen.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "vendor/less.js"]
	path = vendor/less.js
	url = git://github.com/cloudhead/less.js.git
