{% extends "admin/base_site.html" %}
{% load i18n adminmedia admintools_bootstrap %}
{% load url from future %}
{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}
  {% if docsroot %}<li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li> {% endif %} 
  <li class="active"><a href="#">{% trans 'Change password' %}</a></li>
  <li><a href="../logout/">{% trans 'Log out' %}</a></li>
{% endblock %}


{% block breadcrumbs %}
../|{% trans "Home" %}
{% trans "Password change" %}
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post" class="form-horizontal">{% csrf_token %}
<div>
{% if form.errors %}
    <div class="alert alert-error">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
{% endif %}

<h1 class="well">{% trans 'Password change' %}</h1>
<div class="well">
<div class="alert alert-info">
{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
</div>

<fieldset class="module aligned wide">

<div class="control-group{% if form.old_password.errors %} error{% endif %}">
    <label for="id_old_password" class="required control-label">{% trans 'Old password' %}:</label>
    <div class="controls">{{ form.old_password }}
    {% if form.old_password.errors %}<span class="help-inline">{{ form.old_password.errors }}{% endif %}
    </div>
</div>

<div class="control-group{% if form.new_password1.errors %} error{% endif %}">
    <label for="id_new_password1" class="required control-label">{% trans 'New password' %}:</label>
    <div class="controls">{{ form.new_password1 }}
    {% if form.new_password1.errors %}<span class="help-inline">{{ form.new_password1.errors }}{% endif %}
    </div>
</div>

<div class="control-group{% if form.new_password2.errors %} error{% endif %}">
    <label for="id_new_password2" class="required control-label">{% trans 'Password (again)' %}:</label>
    <div class="controls">{{ form.new_password2 }}
    {% if form.new_password2.errors %}<span class="help-inline">{{ form.new_password2.errors }}{% endif %}
    </div>
</div>

</fieldset>

<div class="form-actions">
    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-danger" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</div>
</form></div>

{% endblock %}
