{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
  <ul class="unstyled nav nav-list">
    {% for child in module.children %}
      <li style="clear:both;">
        <span class="pull-left">
          {% if child.change_url %}
            <a href="{{ child.change_url }}">{{ child.title }}</a>
          {% else %}
            {{ child.title }}
          {% endif %}
        </span>

        {% if child.add_url or child.change_url %}
          <ul class="unstyled pull-right actions">
            {% if child.change_url %}
              <li class="pull-left"><a href="{{ child.change_url }}">{% trans "Change" %}</a>
            {% endif %}

            {% if child.add_url %}
              <li class="pull-left"><a href="{{ child.add_url }}">{% trans "Add" %}</a>
            {% endif %}

          </ul>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
{% endblock %}
