{% load i18n admin_modify %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">

    {{ inline_admin_formset.formset.management_form }}

    <fieldset class="module well">
       <h2>
          {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
        </h2>

        {{ inline_admin_formset.formset.non_form_errors }}

        <table class="table table-striped tabular-inline table-condensed table-bordered">
          <thead>
            <tr>
              {% for field in inline_admin_formset.fields %}
                {% if not field.widget.is_hidden %}
                  <th class="{{ field.label|lower }}{% if field.required %} required{% endif %}">
                    {{ field.label|capfirst }}
                  </th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for inline_admin_form in inline_admin_formset %}
              {% if inline_admin_form.form.non_field_errors %}
                <tr>
                  <td colspan="{{ inline_admin_form|cell_count }}">
                    {{ inline_admin_form.form.non_field_errors }}
                  </td>
                </tr>
              {% endif %}

              <tr class="{% cycle "row1" "row2" %}{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
                  id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">

                <td class="hidden original">
                  {% if inline_admin_form.has_auto_field %}
                    {{ inline_admin_form.pk_field.field }}
                  {% endif %}

                  {{ inline_admin_form.fk_field.field }}

                  {% for fieldset in inline_admin_form %}
                    {% for line in fieldset %}
                      {% for field in line %}
                        {% if field.is_hidden %}
                          {{ field.field }}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                </td>

                {% for fieldset in inline_admin_form %}
                  {% for line in fieldset %}
                    {% for field in line %}
                      <td class="{{ field.field.name }}">
                        {% if field.is_readonly %}
                          <p>{{ field.contents }}</p>
                        {% else %}
                          {{ field.field.errors.as_ul }}
                          {{ field.field }}
                        {% endif %}
                      </td>
                    {% endfor %}
                  {% endfor %}
                {% endfor %}

                {% if inline_admin_formset.formset.can_delete %}
                  <td class="delete">
                    {% if inline_admin_form.original %}
                      <span class="hidden">
                        {{ inline_admin_form.deletion_field.field }}
                      </span>
                      <a class="delete btn">
                        <i class="icon-minus"></i>
                        {% trans 'Remove' %}
                      </a>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
         </tbody>
       </table>
    </fieldset>
  </div>
</div>

{# Only load this code if it's not already there #}
<script>
window.pops && window.pops.inlineFormSet || document.write(
  "<script src='{{ STATIC_URL }}pops/js/pops.inlineFormSet.js'><\/script>"
);
</script>

<script>
(function($) {
  $(document).ready(function($) {
    pops.inlineFormSet({
      prefix: "{{ inline_admin_formset.formset.prefix }}",
      adminMediaPrefix: "{{ STATIC_URL }}admin/",
      addText: "{% blocktrans with inline_admin_formset.opts.verbose_name|title as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}",
      deleteText: "{% trans 'Remove' %}"
    }, $);
  });
})(django.jQuery);
</script>
